*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    font-family: sans-serif, Arial, Helvetica;
    line-height: 1.5rem;
    color: rgb(128, 128, 128);
}

.modal-center {
    background-color: #fff;   
    position: absolute;
    left: 25%;
    top: 4em;
    width: 50%;
}

.modal-content {
    border: rgb(160, 159, 159) 1px solid;
}

.btn.btn-close {
    background: transparent;
    border: 0; 
    margin: .5rem; 
    margin-left: 90%; 
    font-size: 1.3rem;
    font-weight: bold;
}

.container {   
    padding: 0 2rem 4rem 2rem;
}

.modal-title {
    margin-top: 0;
}

.buttons-container {   
    display: inline-block;
    float: right;  
}

.button-okey {
    background-color: rgb(54, 170, 54);
    color: white;
    padding: .5rem 1rem;    
}

.button-cancel {
    background-color: red;
    color: white;
    padding: .5rem 1rem;
    margin-left: .3rem;    
}

@media only screen and (max-width: 560px) {
    .modal-center, .modal-content{
      left: 0;
      width: 100%;
    }   
  }